@import url('https://fonts.googleapis.com/css2?family=Jura&display=swap');

body {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Jura', sans-serif;
}

ol,
ul {
    list-style: none;
}

.header {
    padding-top: 30px;
    margin-left: 48px;
    height: 198px;
    display: flex;
}

.header_logo {
    display: flex;
}

.cod {
    font-size: 45px;
    font-weight: 700;
}

.sub_cod {
    color: #000;

    font-family: Jura;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 50px;

}

.link {
    text-decoration: none;
}
.galery_img{
    flex-grow: 1;
}
.logo {
    width: 118px;
    height: 98px;
    flex-shrink: 0;
    margin-left: 12px;
    padding-top: 10px;
}

.list {
    display: flex;

    padding-top: 30px;

}

.list_link {
    text-decoration: none;
    width: 75px;
    height: 34px;
    margin-left: 173px;
    color: #000;

    font-family: Jura;
    font-size: 29px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.nomer {
    color: #000;

    font-family: Jura;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
}

.nomer_img {

    width: 33.894px;
    height: 28px;
    transform: rotate(15deg);

}



.list_link:last-child {
    margin-right: 100px;
}

.title_zone {
    height: 1000px;
    background-color: #832929;
    background-image: url(/img/1.png);
    background-repeat: no-repeat;
    background-position: right;

}
.galery{
    display: flex;
}

.title_text {
    width: 1132px;
    height: 268px;
    color: #FFF;

    font-family: Jura;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 220px;
    padding-bottom: 142px;
    margin-left: 47px;
}

.connection_btn {
    padding: 33px 72px;
    border-radius: 15px;
    background-color: black;
    color: white;
    color: #FFF;

    font-family: Jura;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 131px;
    cursor: pointer;
}

.galery_text {
    height: 266px;
    background-color: #832929;

}

.textgal {
    color: #FFF;

    font-family: Jura;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 0;
    justify-content: center;
    padding-top: 117px;
    margin-left: 131px;
}

.calculation {
    height: 1007px;
    background-image: url(img/back\ -\ calc.png);
    background-repeat: no-repeat;
    text-align: center;
    text-align: -webkit-center
}

.calculation_title {
    color: #000;

    font-family: Jura;
    font-size: 70px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 108px;
    margin-bottom: 27px;
}

.calculation_subtitle {
    color: #000;

    font-family: Jura;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 20px;
}

.calculation_rectangle {
    width: 1402px;
    height: 595px;
    background: #832929CC;


}

.calc_text,
.calc_text2,
.calc_text3,
.calc_text4,
.all_text {
    color: #FFF;

    font-family: Jura;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 20px;
}

#price,
#new2,
#percent,
#years,
#allIn {
    border: 0;
    border-radius: 10px;
    background-color: black;
    width: 256px;
    height: 50px;
    color: white;

}

.calculation_rectangle {
    display: flex;

    align-items: start;
    padding-top: 79px;
}

.left_wrap {
    margin-left: 110px;
    margin-right: 33px;
}

#price {
    margin-bottom: 215px;
}

#percent {
    margin-bottom: 215px;
}

.all {
    margin-left: 75px;
    align-self: center;
    margin-bottom: 172px;
    display: flex;
    flex-direction: column;
}

.all_btn {
    padding: 18px 70px;
    border-radius: 15px;
    background: black;
    color: white;
}

#allIn {
    margin-bottom: 30px;
}

.all_text {
    padding-top: 86px;
}

.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.modal-content {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 600px;
    margin: auto;
    border-radius: 40px;
    height: 500px;
    display: flex;
    flex-direction: column;
    place-content: center;

}

#name,
#email,
#number {
    padding: 16px 0px 16px 24px;
    border-radius: 8px;
}

.form_title {
    color: #000;

    text-align: center;
    font-family: Jura;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.modal-content>input {
    width: 400px;
    align-self: center;

}

.modal-content>input:not(:last-child) {
    margin-bottom: 10px;
}

.modal_btn {
    padding: 16px 56px;
    border-radius: 8px;
    background: black;
    width: 240px;
    margin-left: 181px;
    font-family: Jura;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
    color: white;
}

.first_title {
    color: #000;

    text-align: center;
    font-family: Jura;
    font-size: 84px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.item {
    position: relative;
}

.item_text {
    width: 828px;
    height: 151px;
    border-radius: 25px;
    background: #3A3838;
    color: #FFF;

    font-family: Jura;
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    justify-content: center;
    position: absolute;
    bottom: -6px;
}

.main_zone {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
    margin-left: 60px;
    margin-bottom: 110px;
}

.btn_wrapper {
    text-align-last: center;

}

.btn_wrapper>.connection_btn {
    margin: 0;
}

.about_as {
    color: #000;

    text-align: center;
    font-family: Jura;
    font-size: 84px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 116px;
}

.ab_img {
    width: 1500px;
    height: 1000px;
    margin: 0 auto;
    margin-bottom: 92px;
}

.preface {
    color: #000;

    font-family: Jura;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 1475px;
    margin-left: 210px;
    margin-bottom: 70px;

}

.diff {
    color: #000;

    font-family: Jura;
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 408px;
    height: 80px;
    margin-left: 215px;
}

.prest_list {
    color: #000;

    font-family: Jura;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 1580px;
    height: 759px;
    flex-shrink: 0;
    margin-left: 170px;
}

.our_values {
    color: #000;

    font-family: Jura;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 210px;
}

.inner_values {
    color: #000;
    text-align: center;
    font-family: Jura;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 210px;

    width: 1451px;
}

.contact__title {
    color: #000;

    font-family: Jura;
    font-size: 65px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 792px;
    height: 91px;
    flex-shrink: 0;
    margin: 0 auto;
    padding-left: 120px;
    margin-bottom: 97px;

}

.contact_address {
    color: #000;

    font-family: Jura;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 926px;
    margin-left: 166px;
    margin-bottom: 70px;
}

.contact_img {
    margin-right: 30px;
}

.contact_number {
    margin-left: 161px;
    margin-bottom: 53px;
}

.contact_tel {
    width: 250px;
    height: 60px;
    color: #000;

    font-family: Jura;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    text-decoration: none;
}

.question_text {
    color: #000;

    font-family: Jura;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-right: 60px;
}

.question_email {
    color: #000;

    font-family: Jura;
    font-size: 38px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.contact_question {
    display: flex;
    margin-left: 161px;
    margin-bottom: 80px;
}

.contact_work {
    display: flex;
    margin-left: 163px;
    margin-bottom: 124px;
}

.contact_work>h3 {
    color: #000;

    font-family: Jura;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
    margin-right: 95px;
}

.first_time,
.second_time {
    color: #000;

    font-family: Jura;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 10px;
}

.first_time {
    margin-right: 88px;
}

.list.show {
    display: flex;
    align-items: center;
    z-index: 10;
}

.list>a :hover {
    color: #965f5f;
    transition: 0.6s;
}
.modalText{
    align-items: center;
    font-size: 23px;
    font-weight: 600;
}
.item.img :hover{
    height: 110%;
    width: 110%;
}
.item img{
    transition: transform 0.3s ease;
}
.item:hover img {
    transform: scale(1.1);
  }


@media only screen and (min-width: 768px) and (max-width: 1366px) {
    header {
        height: 100px;
    }

    .logo {
        width: 80px;
        height: 86px;
    }

    .sub_cod {
        font-size: 20px;
    }

    .cod {
        font-size: 40px;
    }

    .list_link {
        margin-left: 80px;
    }

    .list>a {
        font-size: 20px;
    }

    .nomer_img {
        width: 23.894px;
        height: 21px;
    }

    .nomer {
        font-size: 20px;
    }

    .title_text {
        font-size: 40px;
    }

    .connection_btn {
        padding: 30px 70px;
        font-size: 20px;
    }

    .textgal {
        text-align-last: center;
        font-size: 48px;
    }

    .galery_img {
        width: 430px;
        height: 412px;
    }

    .calculation_rectangle {
        width: 1295px;
    }

    .modal-content {
        height: 400px;
    }

    .first_title {
        font-size: 55px;
    }

    .item_img {
        width: 500px;
        height: 300px;
    }

    .item_text {
        width: 500px;
        height: 100px;
        font-size: 40px;
    }

    .contact__title {
        font-size: 50px;
        text-align: center;
    }

    .about_as {
        font-size: 60px;
        margin-bottom: 70px;
    }

    .ab_img {
        width: 1100px;
        height: 700px;
    }

    .ab_img>img {
        width: 1100px;
        height: 700px;
    }

    .preface {
        font-size: 26px;
        width: 1000px;
        margin-left: 100px;
    }

    .diff {
        font-size: 36px;
        margin-left: 112px;

    }

    .prest_list {
        font-size: 30px;
        width: 1200px;
        margin-left: 70px;
        height: 600px;

    }

    .our_values {
        font-size: 46px;
        margin-left: 100px;
        margin-bottom: 20px;
    }

    .inner_values {
        width: 1100px;
        font-size: 30px;
        margin-left: 130px;
    }
}

.burger-menu {
    display: none;
    cursor: pointer;
}

.line {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 5px;
}

.menu {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu li {
    margin-right: 20px;
}

@media only screen and (max-width: 600px) {
    header {
        justify-content: space-between;

    }

    .galery img {
        width: 360px;

    }

    .textgal {
        padding-top: 90px;
        margin-left: 0;
        text-align: center;
        justify-content: center;
    }

    .modal-content {
        background-color: #fefefe;
        padding: 20px;
        border: 1px solid #888;
        width: 200px;
        margin: auto;
        border-radius: 20px;
        height: 100px;
        display: flex;
        flex-direction: column;
    }

    .modal {
        position: fixed;
        top: 45%;
        left: 47%;
        transform: translate(-50%, -50%);
        z-index: 1;
    }

    .modal-content>input {
        width: 200px;
        align-self: center;
    }

    .modal_btn {
        margin-left: 0;
        padding: 10px 35px;
        width: 200px;
    }

    .title_zone {
        max-height: 100%;
        height: 100%;
        text-align: -webkit-center;
    }

    .burger-menu {
        display: block;
        padding-top: 25px;
    }

    .number {
        padding-top: 0;
        margin-right: 25px;
    }


    .list {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #f9f9f9;
        width: 100%;
        padding: 10px;
    }

    .list li {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .header {
        height: 80px;
        padding-top: 0px;
    }

    .logo {
        width: 60px;
        height: 64px;
        margin-left: -10px;
    }

    .sub_cod {
        font-size: 18px;
    }

    .cod {
        font-size: 35px;
    }

    .list_link {
        margin-left: 40px;
        padding-top: 0px;
    }

    .list>a {
        font-size: 16px;
    }

    .nomer_img {
        width: 18.894px;
        height: 16px;
    }

    .nomer {
        font-size: 16px;
    }

    .title_text {
        font-size: 20px;
        width: 200px;
        height: 200px;
        padding-top: 100px;
        margin-left: 0;
    }

    .connection_btn {
        padding: 20px 50px;
        font-size: 16px;
        margin-left: 0;
        margin-bottom: 90px;
    }

    .textgal {
        font-size: 36px;
    }

    .galery_img {
        width: 300px;
        height: 288px;
    }

    .calculation_title {
        font-size: 40px;
        padding: 0;
    }

    .calculation_rectangle {
        width: 100%;
        padding: 0;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    #price {
        margin-bottom: 0;
    }

    #percent {
        margin: 0;
    }

    .left_wrap {
        margin: 0;
    }

    .right_wrap {
        margin: 0;
        margin-left: 41px;
    }

    .modal-content {
        height: auto;
    }

    .all_text {
        padding: 0;
    }

    .all {
        margin: 0;
    }


    .first_title {
        font-size: 40px;
    }

    .item_img {
        width: 100%;
        height: auto;
    }

    .item_text {
        width: 100%;
        height: auto;
        font-size: 24px;
    }

    .contact__title {
        font-size: 40px;
    }

    .about_as {
        font-size: 50px;
        margin-bottom: 50px;
    }

    .ab_img {
        width: 100%;
        height: auto;
    }

    .ab_img>img {
        width: 100%;
        height: auto;
    }

    .preface {
        font-size: 18px;
        width: 100%;
        margin-left: 0;
    }

    .diff {
        font-size: 26px;
        margin-left: 0;

    }

    .prest_list {
        font-size: 24px;
        width: 100%;
        margin-left: 0;
        height: auto;

    }

    .our_values {
        font-size: 40px;
        margin-left: 0;
        margin-bottom: 20px;
    }

    .inner_values {
        width: 100%;
        font-size: 24px;
        margin-left: 0;
    }

    .list_link {
        margin-left: 0;
    }

    .main_zone {
        margin-left: 0;
    }

    .item_text {
        height: 40px;
        font-size: 15px;
    }

    .contact__title {
        padding: 0;
        margin: 0;
        font-size: 30px;
        height: 40px;
        margin-bottom: 20px;
    }

    .contact_address {
        margin: 0;
        font-size: 18px;
        margin-bottom: 20px;
    }

    .contact_number {
        margin: 0;
        flex: 1;
        margin-bottom: 15px;
    }

    .question_text {
        margin: 0;
    }

    .contact_work {
        margin: 0;
    }

    .contact_img {
        margin: 0;
        height: 20px;
    }

    .contact_question {
        margin: 0;
        margin-bottom: 10px;
    }

    .question_text {
        font-size: 18px;
    }

    .question_email {
        font-size: 18px;
    }

    .contact_work>h3 {
        font-size: 20px;
        margin-right: 10px;
        margin-bottom: 30px;
    }

    .first_time {
        font-size: 20px;
        margin-right: 30px;
        padding: 0;
    }

    .second_time {
        font-size: 20px;
        padding: 0;
    }

    .map {
        height: 800px;
    }

    .ab_img {
        margin-bottom: 30px;
    }

    .about_as {
        margin-bottom: 20px;

    }

    .preface {
        margin-bottom: 10px;
    }

    .diff {
        height: 45px;
    }
}
